.section {
    padding-top: 5px;
    display: flex;
    flex-direction: column;

    input {
        border-radius: 5px;
        min-height: 25px;
        margin-left: 5px;

    }
    .input-error {
        border: solid 2px rgb(181, 3, 3) !important;
    }

    .input-success {
        border: solid 2px green ;
    }

    .title {
        color: rgb(4, 4, 109);
        display: block;
    }
    .errorLabel{
        font-size: 12px;
        color: rgb(181, 3, 3);
    }


}