<div class="section">
    <div class="fields">
        <label class="title"> {{model.title}} </label>
        <input [ngClass]="formControl.invalid && (formControl.touched || formControl.dirty ) ? 'input-error' : 'input-success'"
            type="text" [formControl]="formControl" [placeholder]="model.title" />
    </div>
    <div class="error">
        @if(formControl.invalid && (formControl.touched || formControl.dirty )){
        <label class="errorLabel">{{model.errorMessage}} </label>
        }
    </div>
</div>